html {
  font-size: 16px;
}

body,
* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-decoration: none;
  border: none;
  background: none;
  color: var(--color-light-black);
  line-height: calc(1em + 8px);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:root {
  --color-main: #254ca9;
  --color-light-main: #7fade0;
  --color-light-black: #333333;
  --color-dangerous: #ef302b;
  --color-gray: #666666;
  --color-light-gray: #8b96a6;
  --color-light-gray-9: #999999;
  --color-ultra-light-gray: #dddddd;
  --color-black: #111111;
  --color-white: #ffffff;
  --color-dark-white: #f6f6f6;
  --color-light-blue: #7FADE0;

  --radius-XXS: 4px;
  --radius-XS: 8px;
  --radius-S: 12px;
  --radius-M: 16px;
  --radius-L: 24px;
  --radius-XL: 32px;
  --radius-XXL: 40px;

  --transition: all 0.2s ease-in-out;
}

button {
    cursor: pointer;
}
.header {
  padding: 8px 41px;
  border-bottom: 1px solid var(--color-dark-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: var(--color-main);
  font-size: 1.5rem;
  font-weight: 600;
}

.user-icon {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  background-color: var(--color-dark-white);
  padding: 6px;
}

.review-header .users-icon {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  background-color: var(--color-white);
  padding: 6px;
}

.main {
  max-width: 1824px;
  margin: 0 auto;
  padding: 24px 0 0;
  flex-grow: 1;
}

.card {
  background: var(--color-dark-white);
  border-radius: var(--radius-L);
  padding: 24px;
  margin-bottom: 24px;
}

.card-discipline{
  padding: 24px 0;
  margin-bottom: 24px;
}
.card-teacher{
  background: var(--color-dark-white);
  border-radius: var(--radius-L);
  padding: 24px;
}

.discipline-name .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-weight: 700;
  font-size: 36px;
  vertical-align: middle;
}

.card-meta {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-left: 0px;
}

.card-meta p {
  color: var(--color-light-black);
  font-weight: 600;
  font-size: 18px;
}

.icon {
  width: 24px;
  height: 24px;
}
.icon2{
  width: 24px;
  height: 24px;
  margin-left: auto;
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}
.icon-text-teachers{
  display: flex;
  align-items: center;
  gap: 8px;
}

/* рейтинг */
.card-rating {
  color: var(--color-main);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 16px;
}
.overall-rating{
  font-weight: 700;
  font-size: 36px;
  vertical-align: middle;
  color: var(--color-main);
}

.review-rating{
  font-weight: 600;
  font-size: 22px;
  vertical-align: middle;
  color: var(--color-main);
  margin-left: auto;
}

.stars {
  display: flex;
  align-items: center;
  gap: 8px;
}
.stars img {
  width: 32px; 
  height: 32px;  
}

.module{
  display: flex;
  width: 291px;
  gap: 8px;
}


.card-subtitle {
  font-size: 22px;
  font-weight: 600;
}
.discipline-name .icon-text{
  margin-bottom: 0px;
}
.quality-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 32px;
  margin-top: 8px;
}

.quality-item .criterion {
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}

.quality-item-rating {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto; 
}

.rating-value {
  font-weight: 700;
  font-size: 36px;
  vertical-align: middle;
  color: var(--color-main);
}
.rating-value-mini {
  font-weight: 600;
  font-size: 22px;
  vertical-align: middle;
  color: var(--color-main);
  margin-left: 4px;
}

.teachers {
  list-style: none;
  padding-left: 0;
  padding-bottom: 8px;
  margin-top: 16px;
}

.teachers li {
  font-weight: 400;
  font-size: 16px;
  margin: 0 32px;
  border-bottom: 1px solid var(--color-ultra-light-gray);
  padding: 8px 0;
}


.toggle-button {
  background: none;
  border: none;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  display: flex;       
  align-items: center; 
  justify-content: center;
  width: 24px;          
  height: 24px;
}

.toggle-button img {
  width: 24px;
  height: 24px;
  display: block; 
}

/* Поворот стрелки при открытии */
details[open] .toggle-button img {
  transform: rotate(180deg);
}

.description {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray);
  margin-left: 32px;
  margin-bottom: 16px;
}

.last-updated {
  font-size: 1rem;
  color: var(--color-light-gray);
  text-align: right;
}

/* Отзывы */
.reviews-section {
  background: var(--color-white);
  border-radius: var(--radius-M);
  padding: 0 0 24px;
}

.reviews-section .review-card:last-child {
  margin-bottom: 0; 
}

.reviews-section .icon-text {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  margin-left: 32px;
}

.reviews-count {
  font-weight: 600;
  font-size: 22px;
  color: var(--color-light-gray-9);
  margin-left: 8px;
}

.review-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.review-criteria {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}
.review-criteria, .quality-item:first-child{
  margin-top: 0;

}

.criterion{
  font-weight: 600;
  font-size: 18px;
  color: var(--color-gray);
}

.criterion-block {
  display: flex;
  align-items: center;
  gap: 8px;
}

.criterion-block .stars {
  margin-left: auto;
  display: flex;
  gap: 4px;
}
/* aaa */
.btn {
  font-size: 14px;
  font-weight: 600;
  border-radius: var(--radius-M);
  padding: 11px 24px;
  cursor: pointer;
  border: none;
}

.btn.blue {
  background-color: var(--color-main);
  color: var(--color-white);
  font-weight: 600;
  font-size: 18px;
}

.btn.outline {
  background-color: var(--color-dark-white);
  color: var(--color-main);
  font-weight: 600;
  font-size: 18px;
}
/* aaa */

.reviews-actions {
  display: flex;
  gap: 8px;
  margin-left: auto;
}

.review-card {
  background: var(--color-dark-white);
  border-radius: var(--radius-L);
  padding: 24px;
  margin-bottom: 16px;
}
.review-card .quality-item {
  margin: 0;
  margin-left: 32px;
}

.review-author {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-gray)
}

.review-text {
  font-size: 14px;
  color: var(--color-gray);
  margin: 12px 0;
  line-height: 1.5;
}

.review-date {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-light-gray);
  margin-left: 32px;
}


.review-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 16px;
  gap: 8px;
  color: var(--color-light-black);
}
.opinion{
  margin-left: auto;
}

.review-footer .stars {
  display: flex;
  gap: 4px;
}

.review-footer img {
  width: 24px;
  height: 24px;
  gap: 16px;
  cursor: pointer;
}


.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: var(--color-dark-white);
  padding: 16px 48px 24px;
}
.footer a{
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray);
  margin-top: 8px;
}
.footer-title {
  color: var(--color-light-blue);
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 16px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-gray);
  margin-top: 8px;
}

.footer .copyright {
  color: var(--color-light-blue);
  font-weight: 600;
  font-size: 18px;
}

@media (min-width: 1838px) {
  .footer .header {
    padding-left: calc((100% - 1838px) / 2);
    padding-right: calc((100% - 1838px) / 2);
  }
}